.startPoint{
    position: fixed;
    right: 60px;
    bottom: 60px;
    background: none;
    cursor: pointer;
    border: none;
    outline: none;
    z-index: 99999;

}

#header {
    /* position: relative; */
    position:fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    height: 70px;
    width: 100%;
    background-color: #f7ebdb;
    border: 1px solid #601311;
    backdrop-filter: blur(50px) brightness(1.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s;
  }
  
  #header .header_title {
    position: absolute;
    left: 0;
    top: 0;
    width: 518px;
    height: 100%;
    border-right: 1px solid #601311;
    cursor: pointer;

  }
  #header .header_title:hover {
    background-color: #9FECEE;
    border-right: 1px solid #9FECEE;
    filter: invert(100%);
    cursor: pointer;
    transition: 0.3s;
  }
  
  #header .header_title .header_title_img {
    position: absolute;
    top: 50%;
    left: 160px;
    transform: translateY(-50%);
    /* filter: grayscale(100%); */
  }


  #header .header_menu {
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    position: absolute;
    top: 0;
    left: 520px;
    width: 1400px;
    height: 100%;
  }
  
  #header .header_menu > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 208px;
    height: 100%;
    border-right: 1px solid #601311;
    border-bottom: 1px solid #601311;
    /* border-left: 1px solid #000000; */
    background: #f7ebdb;
    cursor: pointer;
  }
  
  #header .header_menu > div:hover {
    background-color: #9FECEE;
    filter: invert(100%);
    border-right: 1px solid #9FECEE;
    border-bottom: 1px solid #9FECEE;
    /* border-right: #1a1a1a!important; */
    transition: 0.3s;
  }
  
  #header .header_menu .menu01 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  #header .header_menu .menu02 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  #header .header_menu .menu03 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  #header .header_menu .menu04 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  #header .header_menu .menu05 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  #header .header_menu .menu06 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  #header .header_menu .menu07 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }



#section01{
    position: relative;
    height: 1330px;
    background: url(../img/01/image.jpg);
    margin-top: 60px;
}
#section01 .circle01_01{
    position: absolute;
    top: -50px;
    left: -100px;
    z-index: 100;
    transform: translateY(700px);
    transition: all 2s;
}
#section01 .circle01_01.on {
    transform:none;
    Opacity:1;
}

#section01 .circle02_01{
    position: absolute;
    top: 500px;
    left: -250px;
    z-index: 100;
    transform: translateY(-700px);
    transition: all 2s;
}
#section01 .circle02_01.on {
    transform:none;
    Opacity:1;
}
#section01 .circle03_01{
    position: absolute;
    top: 700px;
    right: -250px;
    z-index: 100;
    transform: translateY(-700px);
    transition: all 2s;
}
#section01 .circle03_01.on {
    transform:none;
    Opacity:1;
}

#section01 .title01_01 {
    position: absolute;
    top: 50px;
    left: 170px;
    z-index: 100;
    width: 1190px;
    overflow: hidden;
}
#section01 .title01_01 img {
    transform: translateX(-1190px);
    transition: 1.5s;
}
#section01 .title01_01.on img {
    transform: translateX(0);
}


#section01 .title02_01{
    position: absolute;
    top: 20px;
    left: 0px;
    z-index: 100;
    width: 1279px;
    overflow: hidden;
}
#section01 .title02_01 img {
    transform: translateX(-1279px);
    transition: 1.5s;
}
#section01 .title02_01.on img {
    transform: translateX(0);
}


#section01 .title03_01{
    position: absolute;
    top: 100px;
    left: 380px;
    z-index: 100;
}
#section01 .subtitle01_01{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
#section01 .subtitle02_01{
    position: absolute;
    top: 50px;
    right: 70px;
    z-index: 100;
}
#section01 .subtitle03_01{
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
#section01 .subtitle04_01{
    position: absolute;
    bottom: 70px;
    right: 70px;
    z-index: 100;
}



/*********section02*****************************************/
#section02 {
    position: relative;
    height: 2450px;
    background: url(../img/02/image.jpg);
}

#section02 .circle01_02 {
    position: absolute;
    top: -200px;
    left: -200px;
    z-index: 100;
    opacity: 0.5;
}
#section02 .circle02_02 {
    position: absolute;
    top: 1100px;
    right: -200px;
    z-index: 100;
    opacity: 0.5;
}
#section02 .image02_02 {
    position: absolute;
    top: 300px;
    left: 200px;
    z-index: 100;
    Opacity: 0;
    transform: translateY(50px);
    transition: all 1s;
}
#section02 .image02_02.on {
    transform:none;
    Opacity:1;
}


#section02 .image03_02 {
    position: absolute;
    top: 160px;
    right: 0px;
    z-index: 100;
    Opacity: 0;
    transform: translateX(50px);
    transition: all 1s;
}
#section02 .image03_02.on {
    transform:none;
    Opacity:1;
}
#section02 .image04_02 {
    position: absolute;
    top: 1400px;
    left: -20px;
    z-index: 100;
    Opacity: 0;
    transform: translateX(-50px);
    transition: all 1s;
}
#section02 .image04_02.on {
    transform:none;
    Opacity:1;
}
#section02 .title01_02 {
    position: absolute;
    top: 1600px;
    left: 1000px;
    z-index: 100;
}
#section02 .title02_02 {
    position: absolute;
    top: 1650px;
    left: 1360px;
    z-index: 100;
    Opacity: 0;
    transform: translateX(50px);
    transition: all 1s;
}
#section02 .title02_02.on {
    transform:none;
    Opacity:1;
}

#section02 .text_02 {
    position: absolute;
    top: 1900px;
    left: 1000px;
    z-index: 100;
    Opacity: 0;
    transform: translateY(50px);
    transition: all 1s;
}
#section02 .text_02.on {
    transform:none;
    Opacity:1;
}
#section02 .ac_text_02 {
    position: absolute;
    top: 1150px;
    left: 200px;
    z-index: 100;
}


/*********section03*****************************************/
#section03{
    position: relative;
    height: 2880px;
    background: url(../img/03/background.jpg)
}
#section03 .circle_text_03 {
    position: absolute;
    top: 100px;
    right: -330px;
    z-index: 100;
}

#section03 .title01_03 {
    position: absolute;
    top: 170px;
    left: 155px;
    z-index: 100;
}
#section03 .title02_03 {
    position: absolute;
    top: 220px;
    left: 450px;
    z-index: 100;
    Opacity: 0;
    transform: translateX(50px);
    transition: all 1s;
}
#section03 .title02_03.on {
    transform:none;
    Opacity:1;
}
#section03 .text01_03 {
    position: absolute;
    top: 280px;
    left: 900px;
    z-index: 100;
}
#section03 .survey01_03 {
    position: absolute;
    top: 470px;
    left: 210px;
    z-index: 100;
}
#section03 .image01_03 {
    position: absolute;
    top: 700px;
    left: 210px;
    z-index: 100;
    width: 435px;
    overflow: hidden;
  }
  #section03 .image01_03 img {
    transform: translateX(-435px);
    transition: 1s;
  }
  #section03 .image01_03.on img {
    transform: translateX(0);
  }


#section03 .survey02_03 {
    position: absolute;
    top: 715px;
    left: 570px;
    z-index: 100;
    opacity: 0;
    transition: all 1s;
}
#section03 .survey02_03.on {
    Opacity:1;
}


#section03 .survey03_03 {
    position: absolute;
    top: 830px;
    left: 210px;
    z-index: 100;
}
#section03 .image02_03 {
    position: absolute;
    top: 920px;
    left: 210px;
    z-index: 100;
    width: 473px;
    overflow: hidden;
  }
  #section03 .image02_03 img {
    transform: translateX(-474px);
    transition: 1s;
  }
  #section03 .image02_03.on img {
    transform: translateX(0);
  }

#section03 .survey04_03 {
    position: absolute;
    top: 935px;
    left: 420px;
    z-index: 100;
    opacity: 0;
    transition: all 1s;
}
#section03 .survey04_03.on {
    Opacity:1;
}

#section03 .user_interview_03 {
    position: absolute;
    top: 470px;
    left: 915px;
    z-index: 100;
}
#section03 .interview01_03 {
    position: absolute;
    top: 540px;
    left: 915px;
    z-index: 100;
    transform: scale(0.5);
    transition: all 1.5s;
}
#section03 .interview01_03.on {
    transform:none;
}
#section03 .interview02_03 {
    position: absolute;
    top: 540px;
    left: 1370px;
    z-index: 100;
    transform: scale(0.5);
    transition: all 1.5s;
}
#section03 .interview02_03.on {
    transform:none;
}
#section03 .interview03_03 {
    position: absolute;
    top: 780px;
    left: 915px;
    z-index: 100;
    transform: scale(0.5);
    transition: all 1.5s;
}
#section03 .interview03_03.on {
    transform:none;
}
#section03 .interview04_03 {
    position: absolute;
    top: 780px;
    left: 1370px;
    z-index: 100;
    transform: scale(0.5);
    transition: all 1.5s;
}
#section03 .interview04_03.on {
    transform:none;
}

#section03 .text02_03 {
    position: absolute;
    top: 1280px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
#section03 .image03_03 {
    position: absolute;
    top: 1500px;
    left: 200px;
    z-index: 100;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1s;
}
#section03 .image03_03.on {
    transform:none;
    Opacity:1;
}
#section03 .image04_03 {
    position: absolute;
    top: 1950px;
    right: 0px;
    z-index: 100;
    opacity: 0;
    transform: translateX(50px);
    transition: all 1s;
}
#section03 .image04_03.on {
    transform:none;
    Opacity:1;
}
#section03 .problem_03 {
    position: absolute;
    top: 1550px;
    left: 900px;
    z-index: 100;
}
#section03 .problem01_03 {
    position: absolute;
    top: 1700px;
    left: 900px;
    z-index: 100;
    opacity: 0;
    transform: translateX(50px);
    transition: all 1s;
}
#section03 .problem01_03.on {
    transform:none;
    Opacity:1;
}
#section03 .problem02_03 {
    position: absolute;
    top: 1800px;
    left: 900px;
    z-index: 100;
    opacity: 0;
    transform: translateX(50px);
    transition: all 1s;
}
#section03 .problem02_03.on {
    transform:none;
    Opacity:1;
}
#section03 .solution_03 {
    position: absolute;
    top: 2350px;
    left: 200px;
    z-index: 100;
}
#section03 .solution01_03 {
    position: absolute;
    top: 2500px;
    left: 200px;
    z-index: 100;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1s;
}
#section03 .solution01_03.on {
    transform:none;
    Opacity:1;
}
#section03 .solution02_03 {
    position: absolute;
    top: 2600px;
    left: 200px;
    z-index: 100;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1s;
}
#section03 .solution02_03.on {
    transform:none;
    Opacity:1;
}



/*********section04*****************************************/
#section04{
    position: relative;
    height: 990px;
    background: url(../img/04/background.jpg)
}

#section04 .image01_04 {
    position: absolute;
    top: 250px;
    left: 690px;
    z-index: 100;
    opacity: 0;
    transform: scale(0.7);
    transition: all 1s;
}
#section04 .image01_04.on {
    transform:none;
    Opacity:1;
}
#section04 .image02_04 {
    position: absolute;
    top: 250px;
    right: -200px;
    z-index: 100;
    opacity: 0;
    transform: translateX(50px);
    transition: all 1s;
}
#section04 .image02_04.on {
    transform:none;
    Opacity:1;
}
#section04 .title_04 {
    position: absolute;
    top: 220px;
    left: 570px;
    z-index: 100;
}
#section04 .text_04 {
    position: absolute;
    top: 500px;
    left: 300px;
    z-index: 100;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1s;
}
#section04 .text_04.on {
    transform:none;
    Opacity:1;
}
#section04 .clove_04 {
    position: absolute;
    top: 800px;
    left: 890px;
    z-index: 100;
}

/*********section05*****************************************/
#section05{
    position: relative;
    height: 1950px;
    background: url(../img/05/background.jpg)
}
#section05 .title01_05 {
    position: absolute;
    top: 200px;
    left: 200px;
    z-index: 100;
}
#section05 .title02_05 {
    position: absolute;
    top: 270px;
    left: 670px;
    z-index: 100;
    opacity: 0;
    transform: translateX(50px);
    transition: all 1s;
}
#section05 .title02_05.on {
    transform:none;
    Opacity:1;
}
#section05 .text01_05 {
    position: absolute;
    top: 310px;
    left: 960px;
    z-index: 100;
}
#section05 .typo_05 {
    position: absolute;
    top: 600px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
#section05 .typo01_05 {
    position: absolute;
    top: 800px;
    left: 280px;
    z-index: 100;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1s;
}
#section05 .typo01_05.on {
    transform:none;
    Opacity:1;
}
#section05 .typo02_05 {
    position: absolute;
    top: 600px;
    left: 1350px;
    z-index: 100;
    opacity: 0;
    transform: translateX(50px);
    transition: all 1s;
}
#section05 .typo02_05.on {
    transform:none;
    Opacity:1;
}

#section05 .text02_05 {
    position: absolute;
    top: 1400px;
    left: 180px;
    z-index: 100;
}
#section05 .color_05 {
    position: absolute;
    top: 1200px;
    left: 650px;
    z-index: 100;
    opacity: 0;
    transform: scale(0.7);
    transition: all 1s;
}
#section05 .color_05.on {
    transform:none;
    Opacity:1;
}

/*********section06*****************************************/
#section06{
    position: relative;
    height: 5500px;
    background: #ecdbc6;
}

#section06 .image01_06 {
    position: absolute;
    top: 150px;
    right: 0px;
    z-index: 100;
    height: 78px;
    overflow: hidden;
  }
  #section06 .image01_06 img {
    transform: translateY(78px);
    transition: 1s;
  }
  #section06 .image01_06.on img {
    transform: translateY(0);
  }
#section06 .title01_06 {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
#section06 .mockup01_06 {
    position: absolute;
    top: 500px;
    left: -100px;
    z-index: 100;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1s;
}
#section06 .mockup01_06.on {
    transform:none;
    Opacity:1;
}
#section06 .text01_06 {
    position: absolute;
    top: 1200px;
    left: 1620px;
    z-index: 100;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1s;
}
#section06 .text01_06.on {
    transform:none;
    Opacity:1;
}
#section06 .text02_06 {
    position: absolute;
    top: 1330px;
    left: 1620px;
    z-index: 100;
}

#section06 .background_frame_06 {
    position: absolute;
    top: 1900px;
    left: 0;
    width: 100vw;
    height: 140px;
    overflow: hidden;
  }
  
  #section06 .background_text_06{
    display: flex;
  }


  #section06 .mockup02_06 {
    position: absolute;
    top: 1700px;
    right: -100px;
    z-index: 100;
    opacity: 0;
    transform: translateX(50px);
    transition: all 1s;
}
#section06 .mockup02_06.on {
    transform:none;
    Opacity:1;
}
#section06 .text03_06 {
    position: absolute;
    top: 2340px;
    left : 150px;
    z-index: 100;
    opacity: 0;
    transform: translateX(50px);
    transition: all 1s;
}
#section06 .text03_06.on {
    transform:none;
    Opacity:1;
}
#section06 .text04_06 {
    position: absolute;
    top: 2450px;
    left : 150px;
    z-index: 100;
}
#section06 .mockup03_06 {
    position: absolute;
    top: 2850px;
    left : -50px;
    z-index: 200;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1s;
}
#section06 .mockup03_06.on {
    transform:none;
    Opacity:1;
}
#section06 .mockup04_06 {
    position: absolute;
    top: 3300px;
    left : 480px;
    z-index: 100;
    opacity: 0;
    transform: translateX(50px);
    transition: all 1s;
}
#section06 .mockup04_06.on {
    transform:none;
    Opacity:1;
}
#section06 .background_text02_06 {
    position: absolute;
    top: 2950px;
    right : 250px;
    z-index: 100;
}
#section06 .background_img_06 {
    position: absolute;
    top: 3100px;
    left  : 0px;
    z-index: 1;
}
#section06 .background_red_06 {
    position: absolute;
    background-color: #601310;
    bottom: 0px;
    left  : 0px;
    width: 1920px;
    height: 750px;
    z-index: 50;
}
#section06 .image02_06 {
    position: absolute;
    top: 4480px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
#section06 .image03_06 {
    position: absolute;
    top: 4900px;
    left: 120px;
    z-index: 100;
    /* opacity: 0 ; */
    transform: translateX(-50px);
    transition: all 1s;
}
#section06 .image03_06.on {
    transform:none;
    /* Opacity:1; */
}
#section06 .image04_06 {
    position: absolute;
    top: 4600px;
    right: 120px; 
    z-index: 100;
    /* opacity: 0 ; */
    transform: translateX(50px);
    transition: all 1s;
}
#section06 .image04_06.on {
    transform:none;
    /* Opacity:1; */
}


/*********section07*****************************************/
#section07{
    position: relative;
    height: 4100px;
    background-color: #601310;
}
#section07 .circle_07 {
    position: absolute;
    top: 0px;
    right: -100px;
    z-index: 100;
}
#section07 .title01_07 {
    position: absolute;
    top: 50px;
    left: 255px;
    z-index: 100;
}
#section07 .title02_07 {
    position: absolute;
    top: 90px;
    left: 650px;
    z-index: 100;
    opacity: 0;
    transform: translateX(50px);
    transition: all 1s;
}
#section07 .title02_07.on {
    transform:none;
    Opacity:1;
}
#section07 .text01_07 {
    position: absolute;
    top: 120px;
    left: 990px;
    z-index: 100;
}

#section07 .mockup001_07 {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
#section07 .mockup002_07 {
    position: absolute;
    top: 300px;
    left: -810px;
    z-index: 100;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1s;
}
#section07 .mockup002_07.on {
    transform:none;
    Opacity:1;
}
#section07 .mockup003_07 {
    position: absolute;
    top: 300px;
    right: -810px;
    z-index: 100;
    opacity: 0;
    transform: translateX(50px);
    transition: all 1s;
}
#section07 .mockup003_07.on {
    transform:none;
    Opacity:1;
}
#section07 .circle_text_07 {
    position: absolute;
    top: 700px;
    right: -100px;
    z-index: 1;
}
#section07 .mockup02_07 {
    position: absolute;
    top: 1100px;
    left: -100px;
    z-index: 100;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1s;
}
#section07 .mockup02_07.on {
    transform:none;
    Opacity:1;
}
#section07 .mockup03_07 {
    position: absolute;
    top: 2300px;
    right: -80px;
    z-index: 100;
    opacity: 0;
    transform: translateX(50px);
    transition: all 1s;
}
#section07 .mockup03_07.on {
    transform:none;
    Opacity:1;
}
#section07 .text02_07 {
    position: absolute;
    top: 1750px;
    left: 1430px;
    z-index: 100;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1s;
}
#section07 .text02_07.on {
    transform:none;
    Opacity:1;
}
#section07 .text03_07 {
    position: absolute;
    top: 1830px;
    left: 1430px;
    z-index: 100;
}
#section07 .image01_07 {
    position: absolute;
    top: 2800px;
    left: -130px;
    z-index: 100;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1s;
}
#section07 .image01_07.on {
    transform:none;
    Opacity:1;
}
#section07 .image02_07 {
    position: absolute;
    top: 3300px;
    left: 100px;
    z-index: 50;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1s;
}
#section07 .image02_07.on {
    transform:none;
    Opacity:1;
}



/*********section08*****************************************/
#section08{
    position: relative;
    height: 1350px;
    background: #ffffff;
}
#section08 .background_08 {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
}
#section08 .image_08 {
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
    opacity: 0;
    transition: all 2s;
}
#section08 .image_08.on {
    Opacity:1;
}

#section08 .title01_08 {
    position: absolute;
    top: 300px;
    left: 300px;
    z-index: 300;
    transform: translateX(150px);
    transition: all 1s;
}
#section08 .title01_08.on {
    transform:none;
}
#section08 .title02_08 {
    position: absolute;
    top: 430px;
    left: 300px;
    z-index: 300;
    transform: translateX(-150px);
    transition: all 1s;
}
#section08 .title02_08.on {
    transform:none;
}
#section08 .title03_08 {
    position: absolute;
    top: 560px;
    left: 300px;
    z-index: 300;
    transform: translateX(150px);
    transition: all 1s;
}
#section08 .title03_08.on {
    transform:none;
}
#section08 .text01_08 {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 300;
}
#section08 .text02_08 {
    position: absolute;
    top: 620px;
    left: 1370px;
    z-index: 300;
}
#section08 .text03_08 {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 300;
}



#section08 .line01_08 {
    position: absolute;
    left: 0px;
    top: 280px;
    width: 0px;
    height: 1px;
    background-color: #ddd8d8;
    transition: all 1s;
    z-index: 100;
}
#section08 .line01_08.on {
    width: 800px;
}
#section08 .line02_08 {
    position: absolute;
    left: 0px;
    top: 420px;
    width: 0px;
    height: 1px;
    background-color: #ddd8d8;
    transition: all 1s;
    z-index: 100;
}
#section08 .line02_08.on {
    width: 800px;
}

#section08 .line03_08 {
    position: absolute;
    left: 0px;
    top: 560px;
    width: 0px;
    height: 1px;
    background-color: #ddd8d8;
    transition: all 1s;
    z-index: 100;
}
#section08 .line03_08.on {
    width: 1920px;
}

#section08 .line04_08 {
    position: absolute;
    left: 0px;
    top: 700px;
    width: 0px;
    height: 1px;
    background-color: #ddd8d8;
    transition: all 1s;
    z-index: 100;
}
#section08 .line04_08.on {
    width: 1920px;
}

#section08 .line05_08 {
    position: absolute;
    left: 1200px;
    top: 840px;
    width: 0px;
    height: 1px;
    background-color: #ddd8d8;
    transition: all 1s;
    z-index: 100;
}
#section08 .line05_08.on {
    width: 800px;
}




/************ footer *******************************/
#footer{
    position: relative;
    height: 910px;
    background: rgb(11, 11, 11);
    overflow: hidden;
}

#footer .title01_footer {
    position: absolute;
    top: 130px;
    left: 120px;
    z-index: 100;
    height: 99px;
    overflow: hidden;
}
#footer .title01_footer img {
    transform: translateY(99px);
    transition: 1s;
}
#footer .title01_footer.on img {
    transform: translateY(0);
}

#footer .title02_footer {
    position: absolute;
    top: 280px;
    left: 120px;
    z-index: 100;
    height: 99px;
    overflow: hidden;
}
#footer .title02_footer img {
    transform: translateY(99px);
    transition: 1s;
}
#footer .title02_footer.on img {
    transform: translateY(0);
}
#footer .title03_footer {
    position: absolute;
    top: 250px;
    left: 120px;
    z-index: 100;
}
#footer .back_footer {
    position: absolute;
    top: 310px;
    left: 1430px;
    z-index: 100;
}
#footer .next_footer {
    position: absolute;
    top: 310px;
    left: 1620px;
    z-index: 100;
}

#footer .line01 {
    position: absolute;
    left: 120px;
    top: 450px;
    width: 1665px;
    height: 2px;
    background-color: #7e7e7e;
    transition: all 1s;
}
/* #footer .line01.on {
    width: 1745px;
} */


#footer .line02 {
    position: absolute;
    left: 120px;
    top: 730px;
    width: 1665px;
    height: 2px;
    background-color: #7e7e7e;
    transition: all 1s;
}
/* #footer .line02.on {
    width: 1745px;
} */

#footer .text01_footer {
    position: absolute;
    top: 520px;
    left: 170px;
    z-index: 100;
}
#footer .text02_footer {
    position: absolute;
    top: 520px;
    left: 1200px;
    z-index: 100;
}
#footer .link01_footer {
    position: absolute;
    top: 570px;
    left: 1200px;
    z-index: 100;
}
#footer .link02_footer {
    position: absolute;
    top: 600px;
    left: 1200px;
    z-index: 100;
}
#footer .link03_footer {
    position: absolute;
    top: 630px;
    left: 1200px;
    z-index: 100;
}
#footer .link04_footer {
    position: absolute;
    top: 660px;
    left: 1200px;
    z-index: 100;
}
#footer .link05_footer {
    position: absolute;
    top: 570px;
    left: 1450px;
    z-index: 100;
}
#footer .link06_footer {
    position: absolute;
    top: 600px;
    left: 1450px;
    z-index: 100;
}
#footer .link07_footer {
    position: absolute;
    top: 630px;
    left: 1450px;
    z-index: 100;
}
#footer .text03_footer {
    position: absolute;
    top: 755px;
    left: 120px;
    z-index: 100;
}
#footer .text04_footer {
    position: absolute;
    top: 755px;
    right: 140px;
    z-index: 100;
}

#footer .heart01_footer {
    position: absolute;
    top: 0px;
    left: -300px;
    z-index: 1;
}
#footer .heart02_footer {
    position: absolute;
    top: 300px;
    right: -200px;
    z-index: 1;
}
